.section-sale {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 0;
}

.sales-header {
  text-align: center;
  color: var(--color-text-yellow);
}

.sales-header h3 {
  text-transform: uppercase;
  margin-top: 10px;
}

.sales-header details {
  margin: 10px;
}

.sales-details {
  display: flex;
  justify-content: center;
}

details>summary {
  font-style: italic;
}

.cards-sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.card {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid var(--color-border-blue);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.card-content {
  padding: 20px;
}

.card h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--color-text-yellow);
}

.card p {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text-green);
}

.card button {
  width: 50%;
  min-height: 30px;
  margin: auto;
  margin-top: 10px;
  background-color: var(--color-background-light-gray);
  color: var(--color-text-yellow);
  border: none;
  border-radius: 5px;
}

.card button:hover {
  background-color: var(--color-text-green);
}