.section-awards {
  width: 100%;
  height: auto;
  margin: 70px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#awards-table-body {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

td {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 300px;
  margin: 20px;
}

td h3 {
  margin: 10px 0;
  color: var(--color-text-yellow);
}

td p {
  margin: 10px;
  color: var(--color-text-green);
  font-weight: bold;
}

td img {
  max-width: 100%;
  height: auto;
}

td button {
  width: 100%;
  min-height: 30px;
  background-color: var(--color-background-light-gray);
  color: var(--color-text-yellow);
  border: none;
  cursor: pointer;
}

td button:hover {
  background-color: var(--color-text-green);
}

@media (max-width: 768px) {
  #awards-table-body {
    flex-direction: column;
    align-items: center;
  }

  tr {
    width: 100%;
    margin-bottom: 20px;
  }

  td {
    width: 90%;
    margin-bottom: 20px;
  }
}

