.bronze-views {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bronze-views h3 {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
  color: var(--color-text-green);
  font-weight: bold;
  text-transform: uppercase;
}

.bronze-views button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--color-background-light-gray);
  color: var(--color-text-yellow);
  border: none;
  cursor: pointer;
}

.bronze-views button:hover {
  background-color: var(--color-text-green);
  transition: all 0.3s;
}