.section-description {
  padding: 4rem 0; 
}

.container-description {
  text-align: center;
}

.container-description h3,
.container-description p {
  color: var(--color-text-yellow);
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto; 
}
