.divider {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

hr {
  width: 65%;
  height: 3px;
  background-color: var(--color-text-yellow);
}

.container-Home {
  padding: 2rem;
}

